<!DOCTYPE html>
<html lang="pt-BR">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}Sistema Agro{% endblock %}
    </title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">



</head>


<body>

    <header class="header">

        <div class="container header-content">

            <div class="logo">

                <span class="logo-icon"></span>

                <div>
                    <h1>AgroVita</h1>
                    <span>Controle Sanitário</span>
                </div>

            </div>


            <nav class="nav">
                <a href="{{ url_for('inicio') }}">
                    Início
                </a>

                <a href="{{ url_for('dashboard') }}">
                    Dashboard
                </a>

                {% if session.get("usuario_tipo") == "admin" %}
                <a href="{{ url_for('usuarios') }}">Usuários</a>
                {% endif %}

                <a href="{{ url_for('cadastro') }}">
                    Animais
                </a>

                <a href="{{ url_for('vacinacao') }}">
                    Vacinação
                </a>

                <a href="{{ url_for('manejo') }}">
                    Manejo
                </a>

                <a href="{{ url_for('listagem') }}">
                    Registros
                </a>
                {% if session.get("usuario_id") %}
    <a href="{{ url_for('logout') }}">Sair</a>
{% endif %}
            </nav>
            </nav>

        </div>

    </header>


    <main class="container main-content">

        {% block content %}
        {% endblock %}

    </main>


    <footer class="footer">

        <div class="container">

            <p>
                AgroVita — Sistema de Controle e Manejo Sanitário
            </p>

            <span>
                Projeto acadêmico
            </span>

        </div>

    </footer>

</body>

</html>